$text-color: white;
$margin-rl: 0 24px;

@mixin bg-default {

  background-color: #888888;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin header-bg{
    height: auto;
    padding-bottom: 126px;
}
@mixin radio_before{
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 4;
    top: 0;
    left: -15px
}
@mixin radio_after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-image: url(../svg/checked.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
    top: 5px;
    left: -10px;
}
@mixin checkbox_before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 4;
    left: 0;

}
@mixin checked_after{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url(../svg/checked.svg);
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    z-index: 4;
    left: 0;
}

@mixin button{
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    font: inherit;
    background-color: white;
}

@mixin pop-up{
    display: none;
    padding: 40px 48px;
    position: absolute;
    z-index: 3;
    box-shadow: 0px 4px 67px -12px #00000034;
    background: #fff;


}
  

 @keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }

 @-moz-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }

 @-webkit-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }

 @-o-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }

 @-ms-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }

 @keyframes fadeOut {
   0% {opacity:1;}
   100% {opacity:0;}
 }

 @-moz-keyframes fadeOut {
   0% {opacity:1;}
   100% {opacity:0;}
 }

 @-webkit-keyframes fadeOut {
   0% {opacity:1;}
   100% {opacity:0;}
 }

 @-o-keyframes fadeOut {
   0% {opacity:1;}
   100% {opacity:0;}
 }

 @-ms-keyframes fadeOut {
   0% {opacity:1;}
   100% {opacity:0;}
 }

 .pop_up--visible {
   display: block;
      animation: fadeIn ease 1s;  -webkit-animation: fadeIn ease 1s;
 -moz-animation: fadeIn ease 1s;
 -o-animation: fadeIn ease 1s;
 -ms-animation: fadeIn ease 1s;
 }

 .pop_up--hiding {
      animation: fadeOut ease 1s;
   -webkit-animation: fadeOut ease 1s;
   -moz-animation: fadeOut ease 1s;   -o-animation: fadeOut ease 1s;
   -ms-animation: fadeOut ease 1s;
 }

