$text-color: white;

@mixin bg-default {
  background-color: #888888;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin header-bg{
    height: auto;
    padding-bottom: 126px;
}
@mixin radio_before{
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 4;
    top: 0;
    left: -15px
}
@mixin radio_after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-image: url(../svg/checked.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
    top: 5px;
    left: -10px;
}
@mixin checkbox_before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 4;
    left: 0;

}
@mixin checked_after{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url(../svg/checked.svg);
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    z-index: 4;
    left: 0;
}

@mixin button{
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    font: inherit;
    background-color: white;
    font-size: 16px;
    padding: 0 23px;

}