@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pop_up--visible {
  display: block;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.pop_up--hiding {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", "Arial Narrow", Arial, sans-serif;
}

.header {
  height: 735px;
  color: white;
  background-image: url(img/Rectangle15.jpg);
  background-color: #888888;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 64px;
}

.header__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header__nav {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}

.header__logo {
  width: 198px;
}

.input {
  width: 288px;
  height: 41px;
  padding: 0 32px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font: inherit;
  color: white;
}

.input::-moz-placeholder {
  color: white;
}

.input::placeholder {
  color: white;
}

.header__menu {
  display: flex;
  gap: 32px;
}

.header__item-link {
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.header__icons {
  display: none;
}

.header__title {
  margin-top: 64px;
  margin-bottom: 16px;
  width: 792px;
  text-wrap: balance;
  font-weight: 600;
  font-size: 64px;
  text-align: left;
}

.header__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 24px;
}

.header__link {
  color: white;
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
}

.header__item-basket {
  position: relative;
}

.header__item-basket:hover .basket__popup {
  display: block;
}

.basket__popup {
  display: none;
  padding: 40px 48px;
  position: absolute;
  z-index: 3;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.2039215686);
  background: #fff;
  width: 573px;
  height: 480px;
  transform: translate(-85%, 18px);
}

.basket__popup-content {
  display: flex;
  flex-direction: column;
  color: #000;
}

.basket__popup-card {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 24px;
}

.basket__popup-card:nth-child(2) {
  border-top: 1px solid rgba(136, 136, 136, 0.5058823529);
  padding-top: 22px;
}

.basket__popup-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.basket__popup-img {
  height: 144px;
}

.basket__popup-cost {
  margin-bottom: 54px;
  font-weight: 500;
}

.basket__popup-card input {
  margin-left: 20px;
}

.basket__link {
  gap: 24px;
}

.basket__card-link {
  font-size: 14px;
  text-decoration: underline;
}

.basket__cost-bottom {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.basket__cost-final {
  display: flex;
}

.basket__cost-final {
  font-size: 24px;
}

.basket__cost-bold {
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
}

.basket__popup-btn {
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  font: inherit;
  background-color: white;
  width: 207px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.main__title {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 32px;
}

.rooms {
  margin: 64px 0;
}

.rooms__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}

.room {
  height: 415px;
  justify-content: center;
  align-items: center;
  background-color: #888888;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -moz-text-align-last: center;
       text-align-last: center;
}

.room:nth-child(n+1) {
  grid-column: span 6;
}

.room:nth-child(n+3) {
  grid-column: span 4;
}

.room-rest {
  background-image: url(img/Rectangle17.png);
}

.room-job {
  background-image: url(img/Rectangle18.png);
}

.room-kitchen {
  background-image: url(img/Rectangle19.png);
}

.room-children {
  background-image: url(img/Rectangle20.png);
}

.room-bath {
  background-image: url(img/Rectangle21.png);
}

.offers {
  margin-bottom: 64px;
}

.room__name {
  color: white;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
}

.offers__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 48px;
}

.offer {
  flex-basis: calc(33.3% - 32px);
}

.offer__img {
  max-width: 378px;
  position: relative;
}

.offer__icons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
  display: flex;
  gap: 20px;
}

.offer__icons img {
  display: none;
}

.offer__img:hover .offer__icons img {
  display: block;
}

.offer__subtitle {
  margin: 8px 0;
  font-weight: 500;
  font-size: 24px;
}

.offer__description {
  color: #888888;
  font-size: 14px;
  margin-bottom: 10px;
}

.offer__price {
  display: flex;
}

.offer__cost {
  font-size: 24px;
  font-weight: 500;
}

.offer__cost-old {
  margin-left: 32px;
  font-weight: 500;
  font-size: 24px;
  color: #888888;
  text-decoration: line-through;
}

.catalog__content {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 48px;
  margin-bottom: 31px;
}

.catalog__link {
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-decoration: underline;
}

.bottom {
  margin-top: 64px;
  padding: 32px 0 59px 0;
  background-color: #F7F6F6;
}

.bottom__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom__logo {
  width: 198px;
}

.bottom__listItem {
  margin-top: 12px;
}

.bottom__listItem-main {
  font-weight: 500;
  font-size: 24px;
}

.bottom__link {
  color: #888888;
  font-size: 14px;
}

.bottom__menu {
  display: flex;
}

.bottom__item {
  margin-left: 20px;
}

.bottom__item:first-child {
  margin-left: 0;
}

.bottom__form {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.bottom__input {
  width: 100%;
  margin: 8px 0;
  border-color: #C4C4C4;
  background-color: white;
  font: inherit;
  color: #000;
  font-size: 12px;
}

.bottom__input::-moz-placeholder {
  color: #C4C4C4;
}

.bottom__input::placeholder {
  color: #C4C4C4;
}

.btn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 16px;
  background-color: hsla(0, 10%, 86%, 0.411);
  font: inherit;
  font-size: 12px;
}

.bottom__form-text {
  font-size: 12px;
}

.bottom__info {
  display: flex;
  justify-content: space-between;
  gap: 190px;
}

.bottom__lists {
  display: flex;
  gap: 129px;
}

.main__catalog {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 48px;
  margin-bottom: 32px;
}

@media (max-width: 1250px) {
  .header__content, .main, .main__catalog, .bottom__content {
    max-width: 786px;
  }
  .room {
    height: 268px;
  }
  .offers__content, .catalog__content, .main__catalog {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 38px;
  }
  .catalog__content {
    row-gap: 30px;
  }
  .offer {
    flex-basis: calc(50% - 29px);
  }
  .bottom__logo {
    display: none;
  }
  .bottom__info {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .header__content, .main, .main__catalog, .bottom__content {
    padding: 0 15px;
  }
  .offers__content, .catalog__content, .main__catalog {
    row-gap: 32px;
  }
  .header {
    text-align: center;
    margin: 0;
  }
  .header__nav {
    margin-top: 32px;
  }
  .header__logo {
    width: 99px;
  }
  .header__search {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__icons {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header__title {
    font-size: 48px;
    width: 100%;
    text-align: inherit;
  }
  .header__text {
    font-size: 16px;
  }
  .main__title {
    font-size: 24px;
    margin: 32px 0;
  }
  .rooms__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13, 125px);
    gap: 16px;
  }
  .rooms {
    margin: 0;
  }
  .room {
    height: 100%;
  }
  .room:nth-of-type(n+1) {
    grid-column: 1;
    grid-row: span 2;
  }
  .room:nth-child(n+3) {
    grid-column: 1;
    grid-row: span 3;
  }
  .bottom {
    margin-top: 32px;
  }
  .bottom__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .bottom__info {
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
  }
  .bottom__lists {
    flex-wrap: wrap;
  }
  .room__name {
    font-size: 28px;
  }
  .offers__content {
    justify-content: center;
  }
  .offer {
    flex-basis: 100%;
    max-width: 343px;
  }
  .offer img {
    max-width: 342px;
  }
  .offer__subtitle {
    font-size: 18px;
  }
  .offer__description {
    font-size: 14px;
  }
  .offer__cost, .offer__cost-old {
    font-size: 18px;
  }
  .offer__img:hover .offer__icons img {
    display: none;
  }
}
.header__catalog {
  background-image: url(catalog/img/catalog_bg.png);
  height: auto;
  padding-bottom: 126px;
  background-color: #888888;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__list {
  display: flex;
  gap: 10px;
}

.main__link {
  font-weight: 400;
  font-size: 16px;
}

.main__select {
  display: flex;
  gap: 10px;
}

.main__select-item {
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  font: inherit;
  background-color: white;
  padding: 0 50px 0 23px;
  background-image: url(../svg/select.png);
  background-repeat: no-repeat;
  background-position: right 23px center;
  border: 1px solid #C4C4C4;
  font-weight: 500;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.main__select-filter {
  position: relative;
}

.main__button-setting {
  display: none;
  padding: 40px 48px;
  position: absolute;
  z-index: 3;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.2039215686);
  background: #fff;
  width: 540px;
  height: 552px;
  transform: translate(-67%, 52px);
}

.main__button-setting.active {
  display: block;
}

.main__form {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 64px;
       column-gap: 64px;
}

.main__form-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
}

.main__fieldset {
  display: flex;
  flex-direction: column;
  gap: 14px;
  border: none;
  position: relative;
}

.main__legend {
  font-weight: 500;
  margin-bottom: 16px;
}

.main__form-label {
  margin-left: 14px;
  font-size: 14px;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

input[type=radio] + label::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 4;
  top: 0;
  left: -15px;
}

input[type=radio]:checked + label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-image: url(../svg/checked.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
  top: 5px;
  left: -10px;
}

.main__legend-cost {
  display: flex;
  gap: 14px;
  font-size: 14px;
}

.main__slider {
  position: relative;
}

input[type=range] {
  position: absolute;
  width: 100%;
  height: 2px;
  background: transparent;
  pointer-events: none;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  background: black;
  height: 2px;
}

.main__checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

input[type=checkbox] {
  display: none;
}

input[type=checbox] + label {
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

#white + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  border: 1px solid #737373;
}

#black + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background: black;
  left: 29px;
}

#gray + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background: #737373;
  left: 58px;
}

#red + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background: #FF0000;
  left: 87px;
}

#orange + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background-color: #FF7A41;
  left: 116px;
}

#yellow + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background-color: #F2CB01;
  left: 145px;
}

#green + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background-color: #00BF2A;
  left: 174px;
}

#lightgreen + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background-color: #1CCC97;
  top: 29px;
  left: 0px;
}

#lightblue + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background-color: #009FE3;
  top: 29px;
  left: 29px;
}

#blue + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background-color: #000AF8;
  top: 29px;
  left: 58px;
}

#purpleblue + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background-color: #6710D6;
  top: 29px;
  left: 87px;
}

#purple + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background-color: blue;
  top: 29px;
  left: 116px;
}

#lightpurple + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background-color: #D89AFF;
  top: 29px;
  left: 145px;
}

#pink + label {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  background-color: pink;
  top: 29px;
  left: 174px;
}

input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url(../svg/checked.svg);
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  z-index: 4;
  left: 0;
}

#white:checked:checked + label::after {
  top: -1px;
  left: -1px;
}

.main__checkbox-box input + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 4;
  left: 0;
  border: 1px solid black;
}

.main__checkbox-box input:checked + label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url(../svg/checked.svg);
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  z-index: 4;
  left: 0;
  border: none;
  transform: translate(2px, 1px);
}

.main__checkbox-room {
  margin-left: 29px;
}

.main__form-button {
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  font: inherit;
  background-color: white;
  font-weight: 400;
  max-width: 190px;
  width: 100%;
  margin-top: 85px;
  margin-left: auto;
}

.main__select-popular {
  font-weight: 400;
}

.main_link-showMore {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .header__catalog {
    background-image: url(../img/mobile/catalog__header.png);
    background-position: left center;
  }
  .main {
    margin-top: 32px;
  }
  .main__button-setting {
    transform: translate(-23%, 52px);
  }
  .main__nav {
    flex-wrap: wrap;
    gap: 14px;
  }
  .main__select {
    flex-direction: column-reverse;
    gap: 10px;
    position: relative;
  }
  .main__link {
    font-size: 14px;
  }
  .main__select {
    font-size: 14px;
  }
  .main__select-filter {
    width: 164px;
  }
  .main__button-setting {
    width: 286px;
    height: 910px;
    transform: translate(0, 924px);
  }
  .main__form-box {
    padding-bottom: 80px;
  }
  .main__legend {
    margin-bottom: 14px;
  }
  .main__form-button {
    margin-top: 36px;
  }
  .offer__img:hover .offer__icons img {
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pop_up--visible {
  display: block;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.pop_up--hiding {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}

.header__basket {
  background-image: url(basket/img/headder-bg.png);
  height: auto;
  padding-bottom: 126px;
  background-color: #888888;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.basket {
  display: grid;
  margin-bottom: 64px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.basket__text {
  display: flex;
  justify-content: space-between;
  grid-column: span 8;
  grid-row: 1;
  padding-bottom: 14px;
}
.basket__text-item {
  font-weight: 400;
  font-size: 16px;
}
.basket__card {
  grid-column: span 8;
  grid-row: span 6;
}
.basket__card-content {
  border-top: 1px solid #cacdd8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  gap: 32px;
}
.basket__content-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.basket__card-item {
  max-width: 276px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.basket__card-text {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
}
.basket__card-name {
  font-size: 24px;
  font-weight: 500;
}
.basket__cost {
  font-weight: 500;
  font-size: 16px;
}
.basket__link {
  display: flex;
  justify-content: space-between;
}
.basket__link-item {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: inherit;
}
.basket__input {
  width: 71px;
  height: 51px;
  background-color: #f7f6f6;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 15px;
  font-weight: 600;
}
.basket__buttons {
  display: flex;
  grid-row: 8;
  grid-column: span 6;
  gap: 10px;
}
.basket__button-item {
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  font: inherit;
  background-color: white;
  max-width: 200px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 50px;
  font-size: 14px;
}
.basket__form {
  max-width: 380px;
  margin-left: 32px;
  padding: 42px 0 148px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  grid-row: 1/9;
  grid-column: span 4;
  background-color: #f7f6f6;
  border-radius: 20px;
}
.basket__title {
  font-weight: 700;
  font-size: 24px;
}
.basket__form-item {
  max-width: 288px;
  width: 100%;
  margin: 0 64px 0 27px;
  padding: 5px 0;
  background: transparent;
  border: none;
  outline: none;
  font: inherit;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #cacdd8;
  text-align: left;
}
.basket__form-item::-moz-placeholder {
  color: #000;
}
.basket__form-item::placeholder {
  color: #000;
}
.basket__form-cost {
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 14px;
}
.basket__form-sum {
  font-weight: 500;
  font-size: 24px;
}
.basket__form-button {
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  font: inherit;
  background-color: white;
  max-width: 290px;
  width: 100%;
  height: 40px;
  background: transparent;
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .basket {
    display: grid;
    margin-bottom: 64px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }
  .basket__form {
    margin: 0;
    grid-row: 9/19;
  }
  .basket__button-black {
    background-color: #000;
    color: white;
  }
}
@media (max-width: 800px) {
  .header__basket {
    background-image: url(../img/mobile/basket_header.png);
    background-position: right center;
  }
  .basket__card-content img {
    display: none;
  }
  .basket {
    grid-template-columns: repeat(4, 1fr);
  }
  .basket__card-name {
    font-size: 18px;
  }
  .basket__card-text,
  .basket__cost,
  .basket__button-item {
    font-size: 12px;
  }
  .basket__link-item {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */