@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a {
     text-decoration: none;
     color: inherit;
}
a:hover{
     text-decoration: underline;
}
ul {
     list-style: none;
}

body {
     font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
}

.header {
     height: 735px;
     color: white;
     background-image: url(img/Rectangle15.jpg);
     @include vars.bg-default;
     margin-bottom: 64px;
}
.header__content {
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
     display: flex;
    flex-direction: column;
}
.header__nav{
     padding: 16px 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid hsla(0, 0%, 100%, 0.500);
}
.header__logo {
     width: 198px;
}
.input{
     width: 288px;
     height: 41px;
     padding: 0 32px;
     box-sizing: border-box;
     border: 1px solid white;
     border-radius: 20px;
     background-color: transparent;
     outline: none;
     font:inherit;
     color: white;
}
.input::placeholder {
     color: white;
}
.header__menu{
     display: flex;
     gap: 32px;
}
.header__item-link {
     font-weight: 400;
     font-size: 16px;
     color: vars.$text-color;
}
.header__icons{
     display: none;
}
.header__title{
     margin-top: 64px;
     margin-bottom: 16px;
     width: 792px;
     text-wrap: balance;
     font-weight: 600;
     font-size: 64px;
     text-align: left;
}
.header__text {
     margin-bottom: 16px;
     font-weight: 400;
     font-size: 24px;
}
.header__link{
     color: white;
     text-decoration: underline;
     font-weight: 400;
     font-size: 16px;
}
.header__item-basket{
     position: relative;
}
.header__item-basket:hover .basket__popup{
     display: block;
}
.basket__popup{
     @include vars.pop-up;
     width: 573px;
     height: 480px;
     transform: translate(-85%, 18px);
}
.basket__popup-content{
     display: flex;
     flex-direction: column;
     color: #000;
}
.basket__popup-card{
     display: flex;
     column-gap: 24px;
     margin-bottom: 24px;
}
.basket__popup-card:nth-child(2){
     border-top: 1px solid #88888881;
     padding-top: 22px;
}
.basket__popup-item{
     display: flex;
     flex-direction: column;
     gap: 12px;
}
.basket__popup-img{
     height: 144px;
}
.basket__popup-cost{
     margin-bottom: 54px;
     font-weight: 500;

}
.basket__popup-card input{
     margin-left: 20px;
}
.basket__link {
     gap: 24px;
}
.basket__card-link{
     font-size: 14px;
     text-decoration: underline;
}
.basket__cost-bottom{
     display: flex;
     gap: 10px;
     justify-content: space-between;
}
.basket__cost-final{
     display: flex;
}
.basket__cost-final{
     font-size: 24px;
}
.basket__cost-bold{
     font-size: 24px;
     font-weight: 500;
     margin-left: 10px;
}
.basket__popup-btn{
     @include vars.button;
     width: 207px;
}
.main{
     max-width: 1200px;
     margin: 0 auto;
}
.main__title {
     font-weight: 600;
     font-size: 48px;
     margin-bottom: 32px;
}
.rooms{
     margin: 64px 0;
}
.rooms__content{
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(2, 1fr);
     gap: 32px;

}
.room{
     height: 415px;
     justify-items: center;
     align-content: center;
     @include vars.bg-default;
}
.room:nth-child(n+1){
     grid-column: span 6;
}
.room:nth-child(n+3){
     grid-column: span 4;
}
.room-rest{
     background-image: url(img/Rectangle17.png);
}
.room-job{
     background-image: url(img/Rectangle18.png);
}
.room-kitchen{
     background-image: url(img/Rectangle19.png);
}
.room-children{
     background-image: url(img/Rectangle20.png);
}
.room-bath{
     background-image:  url(img/Rectangle21.png);
}
.offers{
     margin-bottom: 64px;
}
.room__name{
     color: white;
     font-weight: 600;
     font-size: 34px;
     text-transform: uppercase;
}
.offers__content{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     column-gap: 32px;
     row-gap: 48px;
}
.offer {
     flex-basis: calc(33.3% - 32px);
}
.offer__img {
     max-width: 378px;
     position: relative;
}
.offer__icons{
     position: absolute;
     top: 10px;
     right: 10px;
     z-index: 4;
     display: flex;
     gap: 20px;
}
.offer__icons img{
      display: none;
 }
.offer__img:hover .offer__icons img {
  display: block;
}
.offer__subtitle {
     margin: 8px 0;
     font-weight: 500;
     font-size: 24px;
}
.offer__description{
     color: #888888;
     font-size: 14px;
     margin-bottom: 10px;
}
.offer__price {
     display: flex;
}
.offer__cost{
     font-size: 24px;
     font-weight: 500;
}
.offer__cost-old{
     margin-left: 32px;
     font-weight: 500;
     font-size: 24px;
     color: #888888;
     text-decoration: line-through;
}
.catalog__content{
     display: flex;
     flex-wrap: wrap;
     column-gap: 32px;
     row-gap: 48px;
     margin-bottom: 31px;
}
.catalog__link{
     font-weight: 400;
     font-size: 16px;
     color: black;
     text-decoration: underline;
}

.bottom{
     margin-top: 64px;
     padding: 32px 0 59px 0;
     background-color: #F7F6F6;
}
.bottom__content{
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
.bottom__logo{
     width: 198px;
}
.bottom__listItem{
     margin-top: 12px;
}
.bottom__listItem-main{
     font-weight: 500;
     font-size: 24px;
}
.bottom__link{
     color: #888888;
     font-size: 14px;
}
.bottom__menu{
     display: flex;
}
.bottom__item{
     margin-left: 20px;
}
.bottom__item:first-child{
     margin-left: 0;
}
.bottom__form{
     width: 280px;
     display: flex;
     flex-direction: column;
}
.bottom__input{
     width: 100%;
     margin: 8px 0;
     border-color: #C4C4C4;
     background-color: white;
     font: inherit;
     color: #000;
     font-size: 12px;
}
.bottom__input::placeholder{
     color: #C4C4C4;
}
.btn{
     width: 100%;
     height: 40px;
     border: none;
     border-radius: 16px;
     background-color: hsla(0, 10%, 86%, 0.411);
     font: inherit;
     font-size: 12px;
}
.bottom__form-text{
     font-size: 12px;
}
.bottom__info{
     display: flex; 
     justify-content: space-between;
     gap:190px
}
.bottom__lists{
     display: flex;
     gap: 129px;
}

.main__catalog {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 48px;
    margin-bottom: 32px;
}

@media ( max-width: 1250px ){
     .header__content, .main,  .main__catalog, .bottom__content{
          max-width: 786px;
     }
     .room{
          height: 268px;
     }
     .offers__content, .catalog__content, .main__catalog{
          column-gap: 29px;
          row-gap: 38px;
     }
     .catalog__content{
          row-gap: 30px;
          
     }
     .offer{
          flex-basis: calc(50% - 29px);
     }
     .bottom__logo{
          display: none;
     }
     .bottom__info{
          width: 100%;
     }
}

@media ( max-width: 800px){

     .header__content, .main,  .main__catalog, .bottom__content{
          max-width: 343px;
     }
     .offers__content, .catalog__content, .main__catalog{
          row-gap: 32px;
     }
     .header{
          text-align: center;
          margin: 0;
     }
     .header__logo{
          width: 99px;
     }

     .header__search{
          display: none;
     }
     .header__menu{
          display: none;
     }
     .header__icons{
          display: flex;
          align-items: center;
          gap: 32px;
     }
     .header__title{
          font-size: 48px;
          width: 100%;
          text-align: inherit;
     }
     .header__text{
          font-size: 16px;
     }
     .main__title{
          font-size: 24px;
          margin: 32px 0;
     }
     .rooms__content{
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(13, 125px);
          gap: 16px;
     }
     .rooms{
          margin: 0;
     }
     .room{
          height: 100%;
     }
     .room:nth-of-type(n+1) {
          grid-column: 1;
          grid-row: span 2;
     }
     .room:nth-child(n+3){
          grid-column: 1;
          grid-row: span 3;
     }
     .bottom{
          margin-top: 32px;
     }
     .bottom__content{
          flex-wrap: wrap;
          justify-content: center;
     }
     .bottom__info{
          justify-content: center;
          flex-wrap: wrap;
          gap: 70px;
     }
     .bottom__lists{
          flex-wrap: wrap;
     }
     .room__name{
          font-size: 28px;
     }
     .offer{
          flex-basis: 100%;
     }
     .offer img{
          max-width: 342px;
     }
     .offer:hover::before{
          display: none;
     }
     .offer:hover::after{
          display: none;
     }
     .offer__subtitle{
          font-size: 18px
     }
     .offer__description{
          font-size: 14px;
     }
     .offer__cost, .offer__cost-old{
          font-size: 18px;
     }
}

@import 'catalog/catalog';

@import 'basket/basket.scss';